@import 'constants.less';

.dashboard-menu {
    font-size: 16px;
    color: @font_blue_1;
    display: flex;
    justify-content: center;
    width: 100%;    
    text-align: center;
    a {
      margin: 0 40px 0 40px;
    }
}

.dashboard-menu *:hover {
  text-decoration: none;
}

.active {  
    border-bottom: 3px solid @font_blue_1;  
}

@media (max-width: 768px) {
  .dashboard-layout{
    margin: 120px 0;
  }

  .dashboard-menu {
    font-size: 15px;
    a {
      padding: 0 20px 0 20px;
      margin: 0px;
    }
  }
}