@import 'constants.less';

.dashboard-menu {
    font-size: 18px;
    color: @font_blue_1;
    display: flex;  
    position: absolute;
    bottom: 0;
    a {
      margin: 0 40px 0 40px;
    }
}

.dashboard-menu *:hover {
  text-decoration: none;
}

.active {  
    border-bottom: 2px solid @font_blue_1;  
}