@import 'constants.less';
@import 'bootstrap-4-utilities.less';

.right-space {
  margin-right: 20px;
}

.left-space {
  margin-left: 20px;
}

h1 {
  margin: 30px 0px 40px 0px;
  text-align: center;
}

.checkboxes-div {
  margin-top: 30px;
  margin-bottom: 30px;
}


body {
  background-color: white;
  color: @font_blue_2;
}

input {
  color: @font_blue_2 !important;
}

.btn-primary {
  background-color: @lblue_color_2;
  border: none;
}

#root {

}

.error {
  border-color: #da0000 !important;
  background-color: rgba(255,0,0,0.1);
}

.error-label {
  color: #da0000;
}

.error {
  .Select-control {
    border-color: #da0000;
    background-color: rgba(255,0,0,0.1);
  }
}

.header {
  padding: 13px 0 10px 0;
  height: 125px;
  background-color: @header_lblue_color;
  color: @font_blue_1;
  margin-top: 20px;
}

.header-title {
  font-size: 23px;
  text-align: center;
  height: 100%;
  padding-top: 20px;
}

.header-title.center {
  text-align: center;
  font-size: 34px;
  padding-top: 50px;
  margin: 0;
}

.user-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.profile-pic {
  height: 40px;
  width: 40px;
  border: 1px solid #afafaf;
  border-radius: 20px;
  overflow: hidden;
  float: right;
}

.profile-pic img {
  width: 100%;
  height: 100%;
}

.primary-layout {
  margin: 10px 0;
  margin-bottom: 100px;
}

.step-row {
  font-weight: bold;
}

.submit-buttons-wrapper {
  margin-top: 30px;
  text-align: center;
  border-top: 1px solid lightgray;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 16px;
  background-color: white;

  .continue-btn {
    width: 140px;
    height: 40px;
  }

  .back-btn {
    margin-right: 60px;
    i {
      margin-right: 5px;
    }
  }
}

.form-check-label {
  padding-left: 10px !important;
  padding-top: 2px;
  font-weight: 400;
}

.back-button {
  float: left;
}

.export-btn {
  float: right;
}

.not-allowed-page {
  h3 {
    text-align: center;
  }
}

.about-event-wrapper {
  border: 1px solid lightgray;
  margin-top: 20px;
  padding: 0 15px 15px 15px;
  h4 {
    font-weight: bold;
  }
}

.order-summary-wrapper {
  border: 1px solid lightgray;
  margin-top: 20px;
  padding: 0 15px 15px 15px;
  h4 {
    font-weight: bold;
    margin: 15px 0 20px 0;
  }
  .order-row {
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    margin: 0 5px;
  }
  .total-row {
    padding: 10px 0;
    margin: 0 5px;
  }
  .order-discounts {
    color: green;
    .discount-desc {
      font-size: 12px;
    }
  }
  .subtotal {
    font-weight: bold;
  }
  .total {
    font-weight: bold;
    font-size: 16px;
  }
}
