@import 'constants.less';

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}  
.popup-form {  
  position: absolute;  
  left: 50%;  
  right: 0%;  
  top: 0%;  
  bottom: 0%;  
  margin: auto;    
  background: white;  
}

.popup-header {
  background-color: #F9F9F9;
  padding: 15px;
}

.popup-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px solid #F9F9F9;
  line-height: 40px;
  li {
    list-style-type: none;
    cursor: pointer;
    .active {
      border-bottom: 2px solid @lblue_color_2;
    }        
  }
}