@import 'constants.less';

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}  
.popup-form {  
  position: absolute;  
  left: 50%;  
  right: 0%;  
  top: 0%;  
  bottom: 0%;  
  margin: auto;    
  background: white;
}

.popup-header {
  background-color: #F9F9F9;
  font-weight: bold;
  padding: 25px;
  h4 {
    font-size: 20px;
  }
  p {
    margin: 2px 0;
    text-transform: uppercase;
    .warning {      
      color: #cc9933;
    }  
    .complete {
      color: #669933;
    }
  }
  .popup-icons {
    display: flex;
    justify-content: space-around;
    i {
      font-size: 1.5em;
      cursor: pointer;      
    }
    :last-child {
      color: black;
    }
  }
}

.popup-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px solid #F9F9F9;
  line-height: 40px;
  li {
    list-style-type: none;
    cursor: pointer;
    .active {
      border-bottom: 2px solid @lblue_color_2;
    }        
  }
}

.popup-panel {
  padding: 20px;
  &--assign {
    margin-top: 50px;    
    justify-content: center;
    padding: 0 25%;
    p {
      font-size: 22px;
      text-align: center;
      margin-bottom: 20px;
    }
    .popup-separator {      
      display: table;    
      margin: 25px 0;
      text-align: center;
      width: 100%;
      div {
        display: table-cell;
        vertical-align: middle;
        width: 40%;
      }
      span {
        display: table-cell;
        padding: 0 5px;
        vertical-align: middle;
        white-space: nowrap;
      }
    }
    .form-control {
      margin: 25px 0;
    }
  }
  &--reassign{
    
  }
  &--edit{
    
  }
}