@import 'constants.less';

.step-two {
  .link {
    cursor: pointer;
  }
  .basic-info {
    div:first-child {      
      display: flex;
      align-items: baseline;
      div:last-child {
        margin-left: auto;
      }
    }
  }
  .field-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    .email {
      margin-top: 10px;
    }
    input {
      background-color: @lblue_color_1;
      border-color: @header_lblue_color;
      &::placeholder{
        color: #A4C7E6;
      }
    }
  }
}

