@import 'constants.less';

.step-three {
  .field-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    input {
      background-color: @lblue_color_1;
      border-color: @header_lblue_color;
    }
    .stripe-input {
      background-color: @lblue_color_1;
      border-color: @header_lblue_color;
    }
  }
}

