@import 'constants.less';

.popup-basic-info {
  margin-top: 20px;
  div:first-child {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  div:last-child {
    text-align: right;
  }
}
.field-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  input {
    background-color: @lblue_color_1;
    border-color: @header_lblue_color;
  }
}
.popup-cancel-ticket {
  color: #da0000;
  cursor: pointer;
}